body{
	background-color: #550;
	font-family​:​​​sans-serif​;
	width: 643px;
	height: 44px;
	font-size: 40px;
	color: #2e353d;
	font-weight: 300;
	font-family: "Helvetica Neue Cyr";
}

h1{
	color: green;
}
div{

}
